body{
    background-image: linear-gradient(MediumPurple, whitesmoke);
    background-attachment: fixed;
    padding: 80px 0;
    
}

.myClass{
    text-align: center;
    padding: 80px 0;
    border: 5px solid MediumPurple;
    background-color: whitesmoke;
    font-family:"Monaco ", monospace;
    /*box-shadow: 5px 5px 5px MediumSlateBlue;*/
}

.myul{
    display: inline-block;
    text-align: left;
}

.myli:hover{
    background-color: MediumSlateBlue;
}